<h2 mat-dialog-title>Edit User</h2>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div style="display: flex; flex-direction: column;">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <input matInput formControlName="role" required>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions style="display: flex; justify-content: space-around;">
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">Save</button>
  </mat-dialog-actions>
</form>
